accelerate
aiofiles
aiohttp
configparser
graspologic
json_repair
httpx

# database packages
networkx
nltk

# Basic modules
numpy
pipmaster
pydantic

# File manipulation libraries
PyPDF2
python-docx
python-dotenv
python-pptx
rouge

setuptools
tenacity


# LLM packages
tiktoken
tqdm
xxhash

# Extra libraries are installed when needed using pipmaster
