# Compiled
*.elc

# Packaging
.cask

# pytest
.pytest_cache/


# developing
.developing/

# venv
.venv/

# Backup files
*~
\#*\#
.\#*
*.bak

# Undo-tree save-files
*.~undo-tree

# Auto-save files
auto-save-list
tramp
.\#*

# etc
.DS_Store 

# Visual Studio Code
.vscode/
.aider*


# log files
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

# test files
*.test
*.test.*
*.test.*.*
*.test.*.*.*
*.test.*.*.*.*
*.test.*.*.*.*.*

